QRCodeDemo1/QRCodeDemo/Service References/WebService/WebServiceHusc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://husc.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://husc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://husc.com/">
      <s:element name="DemSoLuongNguoiDung">
        <s:complexType />
      </s:element>
      <s:element name="DemSoLuongNguoiDungResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DemSoLuongNguoiDungResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachCacNguoiDung">
        <s:complexType />
      </s:element>
      <s:element name="DanhSachCacNguoiDungResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhSachCacNguoiDungResult" type="tns:ArrayOfQR_CONTACT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfQR_CONTACT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QR_CONTACT" nillable="true" type="tns:QR_CONTACT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QR_CONTACT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="birthday" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="website" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertNewUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignUpResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfQR_CONTACT" nillable="true" type="tns:ArrayOfQR_CONTACT" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DemSoLuongNguoiDungSoapIn">
    <wsdl:part name="parameters" element="tns:DemSoLuongNguoiDung" />
  </wsdl:message>
  <wsdl:message name="DemSoLuongNguoiDungSoapOut">
    <wsdl:part name="parameters" element="tns:DemSoLuongNguoiDungResponse" />
  </wsdl:message>
  <wsdl:message name="DanhSachCacNguoiDungSoapIn">
    <wsdl:part name="parameters" element="tns:DanhSachCacNguoiDung" />
  </wsdl:message>
  <wsdl:message name="DanhSachCacNguoiDungSoapOut">
    <wsdl:part name="parameters" element="tns:DanhSachCacNguoiDungResponse" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNewUser" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="SignUpSoapIn">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="SignUpSoapOut">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="DemSoLuongNguoiDungHttpGetIn" />
  <wsdl:message name="DemSoLuongNguoiDungHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DanhSachCacNguoiDungHttpGetIn" />
  <wsdl:message name="DanhSachCacNguoiDungHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfQR_CONTACT" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserHttpGetIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="phone" type="s:string" />
    <wsdl:part name="address" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SignUpHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SignUpHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DemSoLuongNguoiDungHttpPostIn" />
  <wsdl:message name="DemSoLuongNguoiDungHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DanhSachCacNguoiDungHttpPostIn" />
  <wsdl:message name="DanhSachCacNguoiDungHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfQR_CONTACT" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserHttpPostIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="phone" type="s:string" />
    <wsdl:part name="address" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SignUpHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SignUpHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="WebServiceHuscSoap">
    <wsdl:operation name="DemSoLuongNguoiDung">
      <wsdl:input message="tns:DemSoLuongNguoiDungSoapIn" />
      <wsdl:output message="tns:DemSoLuongNguoiDungSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachCacNguoiDung">
      <wsdl:input message="tns:DanhSachCacNguoiDungSoapIn" />
      <wsdl:output message="tns:DanhSachCacNguoiDungSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <wsdl:input message="tns:InsertNewUserSoapIn" />
      <wsdl:output message="tns:InsertNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input message="tns:SignUpSoapIn" />
      <wsdl:output message="tns:SignUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHuscHttpGet">
    <wsdl:operation name="DemSoLuongNguoiDung">
      <wsdl:input message="tns:DemSoLuongNguoiDungHttpGetIn" />
      <wsdl:output message="tns:DemSoLuongNguoiDungHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachCacNguoiDung">
      <wsdl:input message="tns:DanhSachCacNguoiDungHttpGetIn" />
      <wsdl:output message="tns:DanhSachCacNguoiDungHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <wsdl:input message="tns:InsertNewUserHttpGetIn" />
      <wsdl:output message="tns:InsertNewUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input message="tns:SignUpHttpGetIn" />
      <wsdl:output message="tns:SignUpHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHuscHttpPost">
    <wsdl:operation name="DemSoLuongNguoiDung">
      <wsdl:input message="tns:DemSoLuongNguoiDungHttpPostIn" />
      <wsdl:output message="tns:DemSoLuongNguoiDungHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachCacNguoiDung">
      <wsdl:input message="tns:DanhSachCacNguoiDungHttpPostIn" />
      <wsdl:output message="tns:DanhSachCacNguoiDungHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <wsdl:input message="tns:InsertNewUserHttpPostIn" />
      <wsdl:output message="tns:InsertNewUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input message="tns:SignUpHttpPostIn" />
      <wsdl:output message="tns:SignUpHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceHuscSoap" type="tns:WebServiceHuscSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DemSoLuongNguoiDung">
      <soap:operation soapAction="http://husc.com/DemSoLuongNguoiDung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachCacNguoiDung">
      <soap:operation soapAction="http://husc.com/DanhSachCacNguoiDung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <soap:operation soapAction="http://husc.com/InsertNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://husc.com/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://husc.com/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHuscSoap12" type="tns:WebServiceHuscSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DemSoLuongNguoiDung">
      <soap12:operation soapAction="http://husc.com/DemSoLuongNguoiDung" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachCacNguoiDung">
      <soap12:operation soapAction="http://husc.com/DanhSachCacNguoiDung" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <soap12:operation soapAction="http://husc.com/InsertNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap12:operation soapAction="http://husc.com/SignUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://husc.com/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHuscHttpGet" type="tns:WebServiceHuscHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="DemSoLuongNguoiDung">
      <http:operation location="/DemSoLuongNguoiDung" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachCacNguoiDung">
      <http:operation location="/DanhSachCacNguoiDung" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <http:operation location="/InsertNewUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <http:operation location="/SignUp" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHuscHttpPost" type="tns:WebServiceHuscHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="DemSoLuongNguoiDung">
      <http:operation location="/DemSoLuongNguoiDung" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachCacNguoiDung">
      <http:operation location="/DanhSachCacNguoiDung" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <http:operation location="/InsertNewUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <http:operation location="/SignUp" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceHusc">
    <wsdl:port name="WebServiceHuscSoap" binding="tns:WebServiceHuscSoap">
      <soap:address location="http://manhtuank34.somee.com/WebServiceHusc.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHuscSoap12" binding="tns:WebServiceHuscSoap12">
      <soap12:address location="http://manhtuank34.somee.com/WebServiceHusc.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHuscHttpGet" binding="tns:WebServiceHuscHttpGet">
      <http:address location="http://manhtuank34.somee.com/WebServiceHusc.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHuscHttpPost" binding="tns:WebServiceHuscHttpPost">
      <http:address location="http://manhtuank34.somee.com/WebServiceHusc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>