trunk/QRCodeDemo1/QRCodeDemo/Service References/WebService/WebServiceHusc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://husc.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://husc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://husc.com/">
      <s:element name="SignUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignUpResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contact" type="tns:MyContact" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="share" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MyContact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="website" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="birthday" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRelatioship">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="myID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="frID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="myS" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="myU" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRelatioshipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateRelatioshipResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewRelationship">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="myID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="frID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="myU" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="myS" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="frU" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="frS" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewRelationshipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertNewRelationshipResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFriends">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="myid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="frid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFriendsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteFriendsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_nFriends">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="myid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="frid" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Delete_nFriendsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Delete_nFriendsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="myid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="frPhone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactListResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="myFriendUpdateInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="myId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="myFriendUpdateInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myFriendUpdateInfoResult" type="tns:ArrayOfMyContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMyContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MyContact" nillable="true" type="tns:MyContact" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetContactFriendsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="myid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="frPhone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="share" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactFriendsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactFriendsListResult" type="tns:ArrayOfMyContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="ArrayOfInt" nillable="true" type="tns:ArrayOfInt" />
      <s:element name="ArrayOfMyContact" nillable="true" type="tns:ArrayOfMyContact" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SignUpSoapIn">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="SignUpSoapOut">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRelatioshipSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRelatioship" />
  </wsdl:message>
  <wsdl:message name="UpdateRelatioshipSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRelatioshipResponse" />
  </wsdl:message>
  <wsdl:message name="InsertNewRelationshipSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNewRelationship" />
  </wsdl:message>
  <wsdl:message name="InsertNewRelationshipSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNewRelationshipResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFriendsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFriends" />
  </wsdl:message>
  <wsdl:message name="DeleteFriendsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_nFriendsSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_nFriends" />
  </wsdl:message>
  <wsdl:message name="Delete_nFriendsSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_nFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactList" />
  </wsdl:message>
  <wsdl:message name="GetContactListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactListResponse" />
  </wsdl:message>
  <wsdl:message name="myFriendUpdateInfoSoapIn">
    <wsdl:part name="parameters" element="tns:myFriendUpdateInfo" />
  </wsdl:message>
  <wsdl:message name="myFriendUpdateInfoSoapOut">
    <wsdl:part name="parameters" element="tns:myFriendUpdateInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactFriendsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactFriendsList" />
  </wsdl:message>
  <wsdl:message name="GetContactFriendsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactFriendsListResponse" />
  </wsdl:message>
  <wsdl:message name="SignUpHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SignUpHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UpdateRelatioshipHttpGetIn">
    <wsdl:part name="myID" type="s:string" />
    <wsdl:part name="frID" type="s:string" />
    <wsdl:part name="myS" type="s:string" />
    <wsdl:part name="myU" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateRelatioshipHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="InsertNewRelationshipHttpGetIn">
    <wsdl:part name="myID" type="s:string" />
    <wsdl:part name="frID" type="s:string" />
    <wsdl:part name="myU" type="s:string" />
    <wsdl:part name="myS" type="s:string" />
    <wsdl:part name="frU" type="s:string" />
    <wsdl:part name="frS" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertNewRelationshipHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DeleteFriendsHttpGetIn">
    <wsdl:part name="myid" type="s:string" />
    <wsdl:part name="frid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteFriendsHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetContactListHttpGetIn">
    <wsdl:part name="myid" type="s:string" />
    <wsdl:part name="frPhone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContactListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfInt" />
  </wsdl:message>
  <wsdl:message name="myFriendUpdateInfoHttpGetIn">
    <wsdl:part name="myId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="myFriendUpdateInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMyContact" />
  </wsdl:message>
  <wsdl:message name="GetContactFriendsListHttpGetIn">
    <wsdl:part name="myid" type="s:string" />
    <wsdl:part name="frPhone" type="s:string" />
    <wsdl:part name="share" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContactFriendsListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMyContact" />
  </wsdl:message>
  <wsdl:message name="SignUpHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SignUpHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UpdateRelatioshipHttpPostIn">
    <wsdl:part name="myID" type="s:string" />
    <wsdl:part name="frID" type="s:string" />
    <wsdl:part name="myS" type="s:string" />
    <wsdl:part name="myU" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateRelatioshipHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="InsertNewRelationshipHttpPostIn">
    <wsdl:part name="myID" type="s:string" />
    <wsdl:part name="frID" type="s:string" />
    <wsdl:part name="myU" type="s:string" />
    <wsdl:part name="myS" type="s:string" />
    <wsdl:part name="frU" type="s:string" />
    <wsdl:part name="frS" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertNewRelationshipHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DeleteFriendsHttpPostIn">
    <wsdl:part name="myid" type="s:string" />
    <wsdl:part name="frid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteFriendsHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetContactListHttpPostIn">
    <wsdl:part name="myid" type="s:string" />
    <wsdl:part name="frPhone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContactListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfInt" />
  </wsdl:message>
  <wsdl:message name="myFriendUpdateInfoHttpPostIn">
    <wsdl:part name="myId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="myFriendUpdateInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMyContact" />
  </wsdl:message>
  <wsdl:message name="GetContactFriendsListHttpPostIn">
    <wsdl:part name="myid" type="s:string" />
    <wsdl:part name="frPhone" type="s:string" />
    <wsdl:part name="share" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContactFriendsListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMyContact" />
  </wsdl:message>
  <wsdl:portType name="WebServiceHuscSoap">
    <wsdl:operation name="SignUp">
      <wsdl:input message="tns:SignUpSoapIn" />
      <wsdl:output message="tns:SignUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRelatioship">
      <wsdl:input message="tns:UpdateRelatioshipSoapIn" />
      <wsdl:output message="tns:UpdateRelatioshipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewRelationship">
      <wsdl:input message="tns:InsertNewRelationshipSoapIn" />
      <wsdl:output message="tns:InsertNewRelationshipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFriends">
      <wsdl:input message="tns:DeleteFriendsSoapIn" />
      <wsdl:output message="tns:DeleteFriendsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_nFriends">
      <wsdl:input message="tns:Delete_nFriendsSoapIn" />
      <wsdl:output message="tns:Delete_nFriendsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactList">
      <wsdl:input message="tns:GetContactListSoapIn" />
      <wsdl:output message="tns:GetContactListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="myFriendUpdateInfo">
      <wsdl:input message="tns:myFriendUpdateInfoSoapIn" />
      <wsdl:output message="tns:myFriendUpdateInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactFriendsList">
      <wsdl:input message="tns:GetContactFriendsListSoapIn" />
      <wsdl:output message="tns:GetContactFriendsListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHuscHttpGet">
    <wsdl:operation name="SignUp">
      <wsdl:input message="tns:SignUpHttpGetIn" />
      <wsdl:output message="tns:SignUpHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRelatioship">
      <wsdl:input message="tns:UpdateRelatioshipHttpGetIn" />
      <wsdl:output message="tns:UpdateRelatioshipHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewRelationship">
      <wsdl:input message="tns:InsertNewRelationshipHttpGetIn" />
      <wsdl:output message="tns:InsertNewRelationshipHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFriends">
      <wsdl:input message="tns:DeleteFriendsHttpGetIn" />
      <wsdl:output message="tns:DeleteFriendsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactList">
      <wsdl:input message="tns:GetContactListHttpGetIn" />
      <wsdl:output message="tns:GetContactListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="myFriendUpdateInfo">
      <wsdl:input message="tns:myFriendUpdateInfoHttpGetIn" />
      <wsdl:output message="tns:myFriendUpdateInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactFriendsList">
      <wsdl:input message="tns:GetContactFriendsListHttpGetIn" />
      <wsdl:output message="tns:GetContactFriendsListHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHuscHttpPost">
    <wsdl:operation name="SignUp">
      <wsdl:input message="tns:SignUpHttpPostIn" />
      <wsdl:output message="tns:SignUpHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRelatioship">
      <wsdl:input message="tns:UpdateRelatioshipHttpPostIn" />
      <wsdl:output message="tns:UpdateRelatioshipHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewRelationship">
      <wsdl:input message="tns:InsertNewRelationshipHttpPostIn" />
      <wsdl:output message="tns:InsertNewRelationshipHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFriends">
      <wsdl:input message="tns:DeleteFriendsHttpPostIn" />
      <wsdl:output message="tns:DeleteFriendsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactList">
      <wsdl:input message="tns:GetContactListHttpPostIn" />
      <wsdl:output message="tns:GetContactListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="myFriendUpdateInfo">
      <wsdl:input message="tns:myFriendUpdateInfoHttpPostIn" />
      <wsdl:output message="tns:myFriendUpdateInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactFriendsList">
      <wsdl:input message="tns:GetContactFriendsListHttpPostIn" />
      <wsdl:output message="tns:GetContactFriendsListHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceHuscSoap" type="tns:WebServiceHuscSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://husc.com/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://husc.com/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://husc.com/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRelatioship">
      <soap:operation soapAction="http://husc.com/UpdateRelatioship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewRelationship">
      <soap:operation soapAction="http://husc.com/InsertNewRelationship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFriends">
      <soap:operation soapAction="http://husc.com/DeleteFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_nFriends">
      <soap:operation soapAction="http://husc.com/Delete_nFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactList">
      <soap:operation soapAction="http://husc.com/GetContactList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="myFriendUpdateInfo">
      <soap:operation soapAction="http://husc.com/myFriendUpdateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactFriendsList">
      <soap:operation soapAction="http://husc.com/GetContactFriendsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHuscSoap12" type="tns:WebServiceHuscSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUp">
      <soap12:operation soapAction="http://husc.com/SignUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://husc.com/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://husc.com/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRelatioship">
      <soap12:operation soapAction="http://husc.com/UpdateRelatioship" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewRelationship">
      <soap12:operation soapAction="http://husc.com/InsertNewRelationship" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFriends">
      <soap12:operation soapAction="http://husc.com/DeleteFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_nFriends">
      <soap12:operation soapAction="http://husc.com/Delete_nFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactList">
      <soap12:operation soapAction="http://husc.com/GetContactList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="myFriendUpdateInfo">
      <soap12:operation soapAction="http://husc.com/myFriendUpdateInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactFriendsList">
      <soap12:operation soapAction="http://husc.com/GetContactFriendsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHuscHttpGet" type="tns:WebServiceHuscHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SignUp">
      <http:operation location="/SignUp" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRelatioship">
      <http:operation location="/UpdateRelatioship" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewRelationship">
      <http:operation location="/InsertNewRelationship" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFriends">
      <http:operation location="/DeleteFriends" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactList">
      <http:operation location="/GetContactList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="myFriendUpdateInfo">
      <http:operation location="/myFriendUpdateInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactFriendsList">
      <http:operation location="/GetContactFriendsList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHuscHttpPost" type="tns:WebServiceHuscHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SignUp">
      <http:operation location="/SignUp" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRelatioship">
      <http:operation location="/UpdateRelatioship" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewRelationship">
      <http:operation location="/InsertNewRelationship" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFriends">
      <http:operation location="/DeleteFriends" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactList">
      <http:operation location="/GetContactList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="myFriendUpdateInfo">
      <http:operation location="/myFriendUpdateInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactFriendsList">
      <http:operation location="/GetContactFriendsList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceHusc">
    <wsdl:port name="WebServiceHuscSoap" binding="tns:WebServiceHuscSoap">
      <soap:address location="http://manhtuank34.somee.com/WebServiceHusc.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHuscSoap12" binding="tns:WebServiceHuscSoap12">
      <soap12:address location="http://manhtuank34.somee.com/WebServiceHusc.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHuscHttpGet" binding="tns:WebServiceHuscHttpGet">
      <http:address location="http://manhtuank34.somee.com/WebServiceHusc.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHuscHttpPost" binding="tns:WebServiceHuscHttpPost">
      <http:address location="http://manhtuank34.somee.com/WebServiceHusc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>